body {
}

h1,
p {
  text-align: center;
}
#missao {
  font-size: 20px;
}

em strong {
  color: red;
}
#banner {
  width: 100%;
}
h2 {
  text-align: center;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.principal {
  background: #cccc;
  padding: 30px;
}
.itens {
  font-style: italic;
}
.beneficios {
  background: white;
  padding: 20px;
}
.imgbeneficios {
  width: 50%;
}
principal::after {
  content: '';
  display: inline-block;
  width: 100%;
}
