* {
  margin: 0;
}
header {
  display: flex;
  background-color: black;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
ul {
  display: flex;
  list-style: none;
  width: 35vw;
  justify-content: space-around;
}
.flex-container {
  width: 60vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.flex-item {
  height: 45%;
}
.card {
  width: 10vw;
  margin: 5px;
  padding: 5px;
  color: white;
}
.card-info {
  background-color: orange;
}
.card-promo {
  background-color: rgb(125, 13, 13);
}
.card-new {
  background-color: rgb(8, 77, 8);
}
.card p {
  font-size: 1.4em;
  font-weight: bold;
}
img {
  width: 100px;
  padding: 5px;
}
