.titulo-principal {
  padding-left: 20px;
}
header {
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
nav {
  text-transform: uppercase;
  font-size: 22px;
  position: absolute;
  top: 140px;
  right: 0;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav a:hover {
  color: #c78c79;
  text-decoration: underline;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}

.titulo-centralizado,
p {
  text-align: center;
}
#missao {
  font-size: 20px;
}

em strong {
  color: red;
}
#banner {
  width: 100%;
}
h2 {
  text-align: center;
}
.lista-beneficios {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.principal {
  background: #cccc;
  padding: 30px;
}
.itens {
  font-style: italic;
}
.beneficios {
  background: white;
  padding: 20px;
}
.imgbeneficios {
  width: 50%;
}
principal::after {
  content: '';
  display: inline-block;
  width: 100%;
}
footer {
  background-image: url('/Cursos/Iniciante_Em_Programação/02-Paginas_Web/Assets/bg.jpg');
  text-align: center;
  padding: 40px 0;
}
.texto-rodape {
  font-size: 13px;
  color: #ffffff;
  margin: 40px 0 0;
}
